body {
    /* background-image: url("curtainAlpha.png");
    background-position: center;
    background-repeat: no-repeat; */
    /* height: 1000px */
    background-color: black;
    color: white;
    font-family: 'Righteous', sans-serif;

    z-index:1;


}

h1 {
  font-family: 'Notable', sans-serif;
  padding-bottom: 15px;
  /* border-bottom: 1px solid white; */
  text-transform: uppercase;
  font-size: inherit;
}

h1 gr {
  color: #777;
}

#buffer {
    display: none;
}


#video {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
  user-select: none;
  
  mix-blend-mode: lighten;
  z-index:-1;
}

#cc {
  mix-blend-mode: multiply;    
  z-index:-2;

}
#zz {
  mix-blend-mode: lighten;    
  z-index:-1;

}

#shadowBehind {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  
  filter:opacity(90%);
  mix-blend-mode: multiply;    
  z-index:-2;
}

#shadow2 {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -45%);
  user-select: none;

  filter:opacity(70%);
  mix-blend-mode: multiply;    
  z-index:-2;
}



#curtain {
  position: absolute;
  /* go larger - 300%? */
  max-width: 150%;
  max-height: 150%;
  left: 50%;
  top: 50%;
  user-select: none;
  transform: translate(-50%, -50%);        
  z-index:-3;

}

a {
  text-decoration: none;

}

/* unvisited link */
a:link {
  color: #d98b6f;
}

/* visited link */
a:visited {
  color: #edb49f;
}

/* mouse over link */
a:hover {
  color: #d63a00;
}

/* selected link */
a:active {
  color: #fff;
}

a:disabled {
  color: #555;
}

